{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table_index.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" charset="UTF-8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}

    <a href="{{ path('import_beer') }}">Nouvelle bière</a>

    <table class="searchable sortable" id="table-idx">
        <thead>
            <tr>
                <th>Bar</th>
                <th>Bière</th>
                <th>Type <p class="click" onclick="show(this.parentNode.lastElementChild)">O</p>
                    <ul class="type_slector">
                        {% for type in types %}
                            <li class="type_row">
                                <input type="checkbox" name="{{ type.wording }}" id="{{ type.wording }}" checked="checked" onclick="selectType()">
                                <label for="{{ type.wording }}">{{ type.wording }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>% <p class="click" onclick="show(this.parentNode.lastElementChild)">O</p>
                </th>
                <th>Ouvert</th>
            </tr>
        </thead>
        <tbody id="content">
        {% for beer in beers %}
            <tr id="{{ beer.name }}_{% for type in beer.types %}|{{ type.wording }}|{% endfor %}_{{ beer.alcool * 100 }}%" class="line">
                <td>NONE</td>
                <td>{{ beer.name }}</td>
                <td>{% for type in beer.types %}|{{ type.wording }}|{% endfor %}</td>
                <td>NONE</td>
                <td>NONE</td>
                <td>{{ beer.alcool * 100 }}%</td>
                <td>NONE</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script>
        function show(elmt){
            if(elmt.style.display === "none"){
                elmt.style.display = "inline-block";
            } else {
                elmt.style.display = "none";
            }
        }

        function selectType(){
            let lst_line = document.getElementsByClassName('line');
            for (let l of lst_line){
                let typeOk = false;
                while(typeOk === false) {
                    {% for type in types %}
                        if ({{ type.wording }}.checked && l.id.includes('{{ type.wording }}')){
                            typeOk= true;
                            l.style.display = "table-row";
                            break;
                        }
                    {% endfor %}
                    l.style.display = "none";
                    break;
                }
            }

/*            var tab = {};
            {% for type in types %}
                tab['{{ type.id }}'] = {{ type.wording }}.checked;
                if({{ type.wording }}.checked){
                    tab['{{ type.id }}'] = {{ type.wording }};
                }
            {% endfor %}

            $.ajax({
                method: "POST",
                url: "{{ path('recherche_ajax') }}",
                data: tab,
                dataType: 'JSON',
                success: function(data){
                    lst = document.getElementById('content');
                    while(lst.firstChild) {
                        lst.removeChild(lst.firstChild);
                    }
                    dataResp = (JSON.parse(data));
                    for(let i of dataResp){
                        const line = lst.insertRow();
                        for(let j = 0;j<7;j++){
                            const cell = line.insertCell();
                            switch (j) {
                                case 1:
                                    cell.innerText = i.name;
                                    break;
                                case 2:
                                    for(let type of i.types){
                                        cell.innerText += "|"+type.wording+"|"
                                    }
                                    break;
                                case 5:
                                    cell.innerText = i.alcool*100+"%";
                                    break;
                                default:
                                    cell.innerText = 'NONE';
                                    break;

                            }
                        }

                    }
                }
            });*/
        }
    </script>

{% endblock %}
